.homeCaraousal-div2{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30vw;
    font-family: var(--font1);
    color: white;
    font-weight: 500;
}